<html>
  <head>
    <title>Eleventy Bundle & Custom format</title>
    <script src="{% getBundleFileUrl "js", "bundle_1" %}"></script>
  </head>
  <body>
    <h1>{{ title | safe }}</h1>
    {{ content | safe }}
  </body>
</html>

{% js "bundle_1" %}{% renderFile "src/assets/js/script_1.js" %}{% endjs %}
