---
layout: default.njk
permalink: index_2.html
title: Page 2
---

<script src="{% getBundleFileUrl "js", "bundle_2" %}"></script>

{% js "bundle_2" %}{% renderFile "src/assets/js/script_2.js" %}{% endjs %}

